/* 행 색상 */
.row-green {
    background-color: green;
    color: purple;
}

.row-red {
    background-color: red;
    color: white;
}

/* 텍스트 스타일 */
.text-large {
    font-size: 40px;
    font-style: italic;
}

.text-small {
    font-size: 30px;
}
